In [3]:
import pandas as pd
import numpy as np
import requests
import json

In [1]:
my_app_secret = "##"

## Getting Account Info from the Riot API to match their summoner name

``` API Link: /lol/summoner/v3/summoners/by-name/{summonerName} ```

In [4]:
request = 'https://na1.api.riotgames.com/lol/summoner/v3/summoners/by-name/RiotSchmick?api_key='+my_app_secret

res = requests.get(request)

In [18]:
type(res.json())

dict

In [12]:
summoner_names = pd.read_csv('./lcs_player_2018.csv')['Player'].values

In [21]:
info = []
for name in summoner_names: 
    request = 'https://na1.api.riotgames.com/lol/summoner/v3/summoners/by-name/' + name + '?api_key='+my_app_secret
    info.append(requests.get(request).json())

In [24]:
info = pd.DataFrame.from_dict(info)

## Getting match history of the players recently

```API Link: /lol/match/v3/matchlists/by-account/{accountId}```

In [30]:
account_ids = info['accountId'].values

In [31]:
account_ids[0]

30130

In [54]:
request = 'https://na1.api.riotgames.com/lol/match/v3/matchlists/by-account/' + str(30130) +\
'/?api_key='+my_app_secret + '&season=11'

In [48]:
b

,champion,gameId,lane,platformId,queue,role,season,timestamp
0,26,2703762918,MID,NA1,420,DUO,11,1516976790328
1,101,2702935541,BOTTOM,NA1,420,DUO_SUPPORT,11,1516891801033
2,101,2701159390,BOTTOM,NA1,420,DUO_SUPPORT,11,1516718571072
3,101,2699779360,BOTTOM,NA1,420,DUO_SUPPORT,11,1516573873526
4,101,2696284908,BOTTOM,NA1,420,DUO_SUPPORT,11,1516224049198
5,101,2693067758,BOTTOM,NA1,420,DUO_SUPPORT,10,1515878683190
6,101,2692894253,BOTTOM,NA1,420,DUO_SUPPORT,10,1515857246927
7,101,2691987354,BOTTOM,NA1,420,DUO_SUPPORT,10,1515769041601
8,101,2691649092,BOTTOM,NA1,420,DUO,10,1515713105683
9,101,2691641298,BOTTOM,NA1,420,DUO_SUPPORT,10,1515710178604
10,101,2691504406,BOTTOM,NA1,420,DUO_SUPPORT,10,1515687458281
11,101,2691522083,BOTTOM,NA1,420,DUO_SUPPORT,10,1515684816520
12,101,2691500649,BOTTOM,NA1,420,DUO_SUPPORT,10,1515682504757
13,101,2691489197,BOTTOM,NA1,420,DUO_SUPPORT,10,1515680278172
14,101,2691194132,BOTTOM,NA1,420,DUO_SUPPORT,10,1515629082499
15,161,2690895407,BOTTOM,NA1,420,DUO_SUPPORT,10,1515598461799
16,101,2690893995,BOTTOM,NA1,420,DUO_SUPPORT,10,1515596029233
17,101,2690428984,BOTTOM,NA1,420,DUO_SUPPORT,10,1515547453572
18,101,2690406666,BOTTOM,NA1,420,DUO_SUPPORT,10,1515545976542
19,101,2690396545,BOTTOM,NA1,420,DUO_SUPPORT,10,1515543863278

In [57]:
matches = []
for account in account_ids:
    request = 'https://na1.api.riotgames.com/lol/match/v3/matchlists/by-account/' + str(account) +\
'/?api_key='+my_app_secret + '&season=11' 
    matches.append(requests.get(request).json())

In [66]:
pd.DataFrame.from_dict(matches[0]['matches'])

,champion,gameId,lane,platformId,queue,role,season,timestamp
0,26,2703762918,MID,NA1,420,DUO,11,1516976790328
1,101,2702935541,BOTTOM,NA1,420,DUO_SUPPORT,11,1516891801033
2,101,2701159390,BOTTOM,NA1,420,DUO_SUPPORT,11,1516718571072
3,101,2699779360,BOTTOM,NA1,420,DUO_SUPPORT,11,1516573873526
4,101,2696284908,BOTTOM,NA1,420,DUO_SUPPORT,11,1516224049198

matches[0]['matches'] --> account_ids[0]'s matches

In [72]:
df = pd.DataFrame(columns={'champion', 'gameID', 'lane', 'platformId', 'queue', 'role', 'season', 'timestamp'})

In [77]:
dictionary = []

In [95]:
pd.DataFrame(matches) #.iloc[1,1] #['matches']

,endIndex,matches,startIndex,status,totalGames
0,100.0,"[{'platformId': 'NA1', 'gameId': 2703762918, '...",0.0,NaN,1234.0
1,100.0,"[{'platformId': 'NA1', 'gameId': 2728412837, '...",0.0,NaN,181.0
2,11.0,[],0.0,NaN,11.0
3,100.0,[],0.0,NaN,602.0
4,100.0,"[{'platformId': 'NA1', 'gameId': 2744194866, '...",0.0,NaN,185.0
5,100.0,"[{'platformId': 'NA1', 'gameId': 2743895859, '...",0.0,NaN,179.0
6,100.0,"[{'platformId': 'NA1', 'gameId': 2743821200, '...",0.0,NaN,166.0
7,100.0,"[{'platformId': 'NA1', 'gameId': 2744120816, '...",0.0,NaN,160.0
8,100.0,"[{'platformId': 'NA1', 'gameId': 2725846314, '...",0.0,NaN,155.0
9,100.0,"[{'platformId': 'NA1', 'gameId': 2744194866, '...",0.0,NaN,122.0
10,100.0,"[{'platformId': 'NA1', 'gameId': 2743702882, '...",0.0,NaN,129.0
11,100.0,"[{'platformId': 'NA1', 'gameId': 2743983272, '...",0.0,NaN,387.0
12,100.0,"[{'platformId': 'NA1', 'gameId': 2722453607, '...",0.0,NaN,1429.0
13,100.0,"[{'platformId': 'NA1', 'gameId': 2742014695, '...",0.0,NaN,129.0
14,100.0,[],0.0,NaN,678.0
15,100.0,"[{'platformId': 'NA1', 'gameId': 2744101239, '...",0.0,NaN,139.0
16,100.0,"[{'platformId': 'NA1', 'gameId': 2742854136, '...",0.0,NaN,169.0
17,100.0,"[{'platformId': 'NA1', 'gameId': 2739987451, '...",0.0,NaN,180.0
18,100.0,"[{'platformId': 'NA1', 'gameId': 2736562188, '...",0.0,NaN,141.0
19,100.0,"[{'platformId': 'NA1', 'gameId': 2732055699, '...",0.0,NaN,159.0
20,88.0,"[{'platformId': 'NA1', 'gameId': 2733657925, '...",0.0,NaN,88.0
21,100.0,"[{'platformId': 'NA1', 'gameId': 2737747557, '...",0.0,NaN,441.0
22,100.0,"[{'platformId': 'NA1', 'gameId': 2742556873, '...",0.0,NaN,194.0
23,NaN,NaN,NaN,"{'message': 'Data not found', 'status_code': 404}",NaN
24,100.0,"[{'platformId': 'NA1', 'gameId': 2743731964, '...",0.0,NaN,183.0
25,100.0,"[{'platformId': 'NA1', 'gameId': 2741291636, '...",0.0,NaN,138.0
26,100.0,"[{'platformId': 'NA1', 'gameId': 2719746068, '...",0.0,NaN,133.0
27,NaN,NaN,NaN,"{'message': 'Data not found', 'status_code': 404}",NaN
28,100.0,"[{'platformId': 'NA1', 'gameId': 2743954533, '...",0.0,NaN,152.0
29,100.0,"[{'platformId': 'NA1', 'gameId': 2739700901, '...",0.0,NaN,140.0
30,45.0,[],0.0,NaN,45.0
31,100.0,"[{'platformId': 'NA1', 'gameId': 2744092437, '...",0.0,NaN,131.0
32,100.0,"[{'platformId': 'NA1', 'gameId': 2743526502, '...",0.0,NaN,185.0
33,100.0,"[{'platformId': 'NA1', 'gameId': 2744006998, '...",0.0,NaN,178.0
34,100.0,[],0.0,NaN,1123.0
35,100.0,"[{'platformId': 'NA1', 'gameId': 2744205355, '...",0.0,NaN,167.0
36,6.0,"[{'platformId': 'NA1', 'gameId': 2722306648, '...",0.0,NaN,6.0
37,100.0,"[{'platformId': 'NA1', 'gameId': 2701238770, '...",0.0,NaN,166.0
38,100.0,[],0.0,NaN,255.0
39,100.0,[],0.0,NaN,152.0
40,100.0,"[{'platformId': 'NA1', 'gameId': 2744039579, '...",0.0,NaN,156.0
41,100.0,"[{'platformId': 'NA1', 'gameId': 2742337716, '...",0.0,NaN,123.0
42,100.0,"[{'platformId': 'NA1', 'gameId': 2721486308, '...",0.0,NaN,138.0
43,100.0,"[{'platformId': 'NA1', 'gameId': 2743596947, '...",0.0,NaN,165.0
44,100.0,"[{'platformId': 'NA1', 'gameId': 2702685409, '...",0.0,NaN,131.0
45,100.0,[],0.0,NaN,577.0
46,100.0,"[{'platformId': 'NA1', 'gameId': 2744206809, '...",0.0,NaN,178.0
47,100.0,"[{'platformId': 'NA1', 'gameId': 2744047155, '...",0.0,NaN,110.0
48,100.0,"[{'platformId': 'NA1', 'gameId': 2742884090, '...",0.0,NaN,137.0
49,100.0,"[{'platformId': 'NA1', 'gameId': 2744043343, '...",0.0,NaN,126.0
50,100.0,"[{'platformId': 'NA1', 'gameId': 2744186015, '...",0.0,NaN,162.0
51,14.0,"[{'platformId': 'NA1', 'gameId': 2736757430, '...",0.0,NaN,14.0
52,100.0,"[{'platformId': 'NA1', 'gameId': 2740960344, '...",0.0,NaN,123.0
53,100.0,"[{'platformId': 'NA1', 'gameId': 2740851715, '...",0.0,NaN,129.0
54,100.0,[],0.0,NaN,967.0
55,100.0,"[{'platformId': 'NA1', 'gameId': 2720972030, '...",0.0,NaN,1216.0

In [121]:
dictionary = []

In [122]:
player_num = []

In [123]:
j = 0 
for match in matches: 
    try: 
        a = match['matches']
        for i in a: 
            dictionary.append(i)
            player_num.append(account_ids[j])
        j+=1
    except:
        j+=1

In [124]:
len(player_num)

2864

In [125]:
len(dictionary)

2864

In [127]:
game_df = pd.DataFrame(dictionary)

In [128]:
game_df['player'] = player_num

In [142]:
game_df

,champion,gameId,lane,platformId,queue,role,season,timestamp,player
0,26,2703762918,MID,NA1,420,DUO,11,1516976790328,30130
1,101,2702935541,BOTTOM,NA1,420,DUO_SUPPORT,11,1516891801033,30130
2,101,2701159390,BOTTOM,NA1,420,DUO_SUPPORT,11,1516718571072,30130
3,101,2699779360,BOTTOM,NA1,420,DUO_SUPPORT,11,1516573873526,30130
4,101,2696284908,BOTTOM,NA1,420,DUO_SUPPORT,11,1516224049198,30130
5,104,2728412837,JUNGLE,NA1,420,NONE,11,1519682617078,239603734
6,107,2728226316,JUNGLE,NA1,430,NONE,11,1519639405904,239603734
7,72,2723957818,JUNGLE,NA1,420,NONE,11,1519201697713,239603734
8,76,2721602084,JUNGLE,NA1,420,NONE,11,1518935956502,239603734
9,223,2744194866,BOTTOM,NA1,420,DUO_SUPPORT,11,1521572493510,469064
10,223,2744190339,BOTTOM,NA1,420,DUO_SUPPORT,11,1521569845978,469064
11,25,2743690325,BOTTOM,NA1,420,DUO_SUPPORT,11,1521487891468,469064
12,223,2743656500,MID,NA1,420,DUO_SUPPORT,11,1521485208527,469064
13,111,2743653722,BOTTOM,NA1,420,DUO_SUPPORT,11,1521483536438,469064
14,201,2743647872,BOTTOM,NA1,420,DUO_SUPPORT,11,1521480570088,469064
15,497,2743584169,BOTTOM,NA1,420,DUO_SUPPORT,11,1521449560191,469064
16,12,2741643723,BOTTOM,NA1,420,DUO_SUPPORT,11,1521252768233,469064
17,412,2741145276,BOTTOM,NA1,420,DUO_SUPPORT,11,1521187829157,469064
18,432,2741150545,BOTTOM,NA1,420,DUO_SUPPORT,11,1521184905385,469064
19,497,2741134945,BOTTOM,NA1,420,DUO_SUPPORT,11,1521182212455,469064
20,12,2741109836,BOTTOM,NA1,420,DUO_SUPPORT,11,1521179976671,469064
21,497,2740622590,NONE,NA1,420,DUO_SUPPORT,11,1521099869242,469064
22,497,2740590444,BOTTOM,NA1,420,DUO_SUPPORT,11,1521093861048,469064
23,50,2739625372,NONE,NA1,430,DUO_SUPPORT,11,1520995926967,469064
24,432,2739257179,BOTTOM,NA1,420,DUO_SUPPORT,11,1520947106903,469064
25,432,2739246427,BOTTOM,NA1,420,DUO_SUPPORT,11,1520944075629,469064
26,432,2739264222,BOTTOM,NA1,420,DUO_SUPPORT,11,1520941893543,469064
27,432,2739244124,BOTTOM,NA1,420,DUO_SUPPORT,11,1520939721879,469064
28,432,2739251592,BOTTOM,NA1,420,DUO_SUPPORT,11,1520937063502,469064
29,117,2739173158,BOTTOM,NA1,420,SOLO,11,1520918926646,469064
...,...,...,...,...,...,...,...,...,...
2834,121,2718529196,JUNGLE,NA1,420,NONE,11,1518592901153,32470127
2835,107,2718533812,JUNGLE,NA1,420,NONE,11,1518591122111,32470127
2836,421,2718479574,JUNGLE,NA1,420,NONE,11,1518588954356,32470127
2837,421,2718487003,MID,NA1,420,DUO,11,1518588318140,32470127
2838,72,2718447659,JUNGLE,NA1,420,NONE,11,1518585386431,32470127
2839,421,2717994372,JUNGLE,NA1,420,NONE,11,1518514590323,32470127
2840,79,2717991556,JUNGLE,NA1,420,NONE,11,1518512235055,32470127
2841,50,2717104020,MID,NA1,450,NONE,11,1518436787817,32470127
2842,25,2717093667,MID,NA1,450,NONE,11,1518435436228,32470127
2843,38,2716246029,MID,NA1,450,NONE,11,1518333310313,32470127
2844,41,2716192757,TOP,NA1,420,SOLO,11,1518329978268,32470127
2845,41,2716170397,TOP,NA1,420,SOLO,11,1518327410200,32470127
2846,41,2716099283,TOP,NA1,420,SOLO,11,1518325146796,32470127
2847,24,2715174482,JUNGLE,NA1,420,NONE,11,1518248358348,32470127
2848,98,2715140682,BOTTOM,NA1,420,DUO_SUPPORT,11,1518244543992,32470127
2849,59,2715088376,JUNGLE,NA1,420,NONE,11,1518241699375,32470127
2850,107,2715066384,JUNGLE,NA1,420,NONE,11,1518239327901,32470127
2851,41,2714442071,TOP,NA1,420,SOLO,11,1518156851437,32470127
2852,12,2714413480,MID,NA1,450,NONE,11,1518154392777,32470127
2853,157,2714276988,MID,NA1,450,NONE,11,1518152784114,32470127
2854,96,2713581170,BOTTOM,NA1,420,DUO_CARRY,11,1518070780275,32470127
2855,113,2713496342,JUNGLE,NA1,420,NONE,11,1518063860495,32470127
2856,72,2713459061,JUNGLE,NA1,420,NONE,11,1518062067275,32470127
2857,107,2713436552,JUNGLE,NA1,420,NONE,11,1518059327222,32470127
2858,236,2713397211,TOP,NA1,420,SOLO,11,1518057132046,32470127
2859,59,2712638674,JUNGLE,NA1,420,NONE,11,1517979706090,32470127
2860,107,2712609517,JUNGLE,NA1,420,NONE,11,1517977341796,32470127
2861,79,2712576851,JUNGLE,NA1,420,NONE,11,1517974301053,32470127
2862,24,2712538972,JUNGLE,NA1,420,NONE,11,1517972407702,32470127
2863,64,2720972030,JUNGLE,NA1,420,NONE,11,1518906969869,480897

In [144]:
info.head()

   accountId        id      name  profileIconId   revisionDate  summonerLevel
0      30130      3267    Adrian             11  1516977351000             32
1  239603734  88669121  Akaadian           2087  1519685203000             44
2     166227    139388     Altec             18  1502768369000             30
3   32882990  20067790      AnDa           1153  1495783622000             30
4     469064    442232  aphromoo           3151  1521490064000            170

In [145]:
game_df.head()

,champion,gameId,lane,platformId,queue,role,season,timestamp,player
0,26,2703762918,MID,NA1,420,DUO,11,1516976790328,30130
1,101,2702935541,BOTTOM,NA1,420,DUO_SUPPORT,11,1516891801033,30130
2,101,2701159390,BOTTOM,NA1,420,DUO_SUPPORT,11,1516718571072,30130
3,101,2699779360,BOTTOM,NA1,420,DUO_SUPPORT,11,1516573873526,30130
4,101,2696284908,BOTTOM,NA1,420,DUO_SUPPORT,11,1516224049198,30130

In [147]:
print (game_df.shape, info.shape)

(2864, 9) (56, 6)

In [156]:
game_df.head()

,champion,gameId,lane,platformId,queue,role,season,timestamp,accountID
0,26,2703762918,MID,NA1,420,DUO,11,1516976790328,30130
1,101,2702935541,BOTTOM,NA1,420,DUO_SUPPORT,11,1516891801033,30130
2,101,2701159390,BOTTOM,NA1,420,DUO_SUPPORT,11,1516718571072,30130
3,101,2699779360,BOTTOM,NA1,420,DUO_SUPPORT,11,1516573873526,30130
4,101,2696284908,BOTTOM,NA1,420,DUO_SUPPORT,11,1516224049198,30130

In [158]:
df = game_df.merge(info, how='inner', right_on='accountId', left_on='accountID')

In [159]:
df.head()

,champion,gameId,lane,platformId,queue,role,season,timestamp,accountID,accountId,id,name,profileIconId,revisionDate,summonerLevel
0,26,2703762918,MID,NA1,420,DUO,11,1516976790328,30130,30130,3267,Adrian,11,1516977351000,32
1,101,2702935541,BOTTOM,NA1,420,DUO_SUPPORT,11,1516891801033,30130,30130,3267,Adrian,11,1516977351000,32
2,101,2701159390,BOTTOM,NA1,420,DUO_SUPPORT,11,1516718571072,30130,30130,3267,Adrian,11,1516977351000,32
3,101,2699779360,BOTTOM,NA1,420,DUO_SUPPORT,11,1516573873526,30130,30130,3267,Adrian,11,1516977351000,32
4,101,2696284908,BOTTOM,NA1,420,DUO_SUPPORT,11,1516224049198,30130,30130,3267,Adrian,11,1516977351000,32

,Unnamed: 0,Player,Team,Pos,GP,W%,K,D,A,KDA,KP,DTH%,FB%,GD10,XPD10,CS-D10,CSPM
0,0,Adrian,Echo Fox,Support,16,69%,7,38,151,4.2,74.5%,21.6%,6%,-178,-123,2.1,1.8
1,1,Akaadian,OpTic Gaming,Jungle,18,28%,21,33,84,3.2,68.2%,16.7%,50%,75,81,0.7,4.9
2,2,Altec,Echo Fox,ADC,19,63%,70,41,110,4.4,74.1%,19.3%,11%,-152,-86,-4.0,9.9
3,3,AnDa,FlyQuest,Jungle,16,38%,17,39,99,3.0,79.5%,21.2%,25%,-80,-197,-4.6,5.1
4,4,aphromoo,100 Thieves,Support,19,68%,9,40,131,3.5,72.9%,25.8%,32%,46,73,1.8,1.6
5,5,Apollo,Clutch Gaming,ADC,20,55%,45,31,84,4.2,75.4%,20.7%,0%,-76,-72,-0.5,9.8
6,6,Arrow,OpTic Gaming,ADC,18,28%,44,31,66,3.5,71.4%,15.7%,33%,-79,15,-5.5,9.3
7,7,Biofrost,Counter Logic Gaming,Support,18,39%,9,45,138,3.3,78.2%,21.2%,22%,15,-28,-1.2,1.7
8,8,Bjergsen,Team SoloMid,Middle,20,65%,72,20,98,8.5,77.6%,13.0%,25%,107,227,5.8,10.2
9,9,Cody Sun,100 Thieves,ADC,19,68%,79,20,85,8.2,85.4%,12.9%,32%,40,126,-0.2,10.2
10,10,Contractz,Golden Guardians,Jungle,18,22%,27,56,86,2.0,72.4%,25.6%,28%,-211,-195,-3.8,4.9
11,11,Damonte,Echo Fox,Middle,3,33%,8,6,14,3.7,71.0%,16.7%,33%,73,-74,5.7,9.0
12,12,Dardoch,Echo Fox,Jungle,19,63%,39,38,139,4.7,73.3%,17.9%,47%,152,107,1.4,5.0
13,13,Darshan,Counter Logic Gaming,Top,18,39%,37,42,88,3.0,66.5%,19.8%,44%,10,55,2.6,8.2
14,14,Deftly,Golden Guardians,ADC,18,22%,49,36,64,3.1,72.4%,16.4%,17%,-1,29,0.8,10.0
15,15,Dhokla,OpTic Gaming,Top,6,33%,5,18,22,1.5,55.1%,27.7%,17%,-270,-174,-15.8,8.3
16,16,Doublelift,Team Liquid,ADC,20,60%,60,22,83,6.5,75.3%,13.3%,20%,30,-4,3.6,10.5
17,17,Febiven,Clutch Gaming,Middle,20,55%,64,18,67,7.3,76.6%,12.0%,15%,-42,85,5.3,9.9
18,18,Fenix,Echo Fox,Middle,16,69%,65,26,83,5.7,69.8%,14.8%,13%,274,185,7.9,9.8
19,19,Flame,FlyQuest,Top,18,33%,33,31,81,3.7,73.1%,14.3%,22%,177,66,5.3,9.0
20,20,Fly,FlyQuest,Middle,12,33%,22,29,60,2.8,75.9%,22.5%,33%,-107,-70,-4.8,8.4
21,21,Hai,Golden Guardians,Middle,18,22%,34,52,87,2.3,77.6%,23.7%,17%,-320,-230,-8.7,9.0
22,22,Hakuho,Clutch Gaming,Support,20,55%,12,32,123,4.2,78.9%,21.3%,5%,3,56,-0.6,1.6
23,23,Hauntzer,Team SoloMid,Top,20,65%,49,43,94,3.3,65.3%,27.9%,20%,128,26,1.6,9.6
24,24,huhi,Counter Logic Gaming,Middle,18,39%,51,42,98,3.5,79.3%,19.8%,39%,-52,-149,-4.3,9.3
25,25,Huni,Echo Fox,Top,19,63%,52,54,113,3.1,67.9%,25.5%,21%,322,244,8.2,9.8
26,26,Impact,Team Liquid,Top,20,60%,38,35,89,3.6,66.8%,21.1%,30%,34,40,-1.7,8.5
27,27,JayJ,FlyQuest,Support,2,0%,1,6,6,1.2,70.0%,26.1%,100%,-7,97,-6.5,1.0
28,28,Jensen,Cloud9,Middle,20,60%,69,24,100,7.0,75.8%,11.5%,40%,106,110,2.5,10.3
29,29,Keane,FlyQuest,Middle,6,33%,14,20,25,2.0,81.3%,22.7%,0%,-79,6,-1.0,9.3
30,30,LemonNation,OpTic Gaming,Support,18,28%,8,49,93,2.1,65.6%,24.7%,28%,41,-7,-0.3,1.6
31,31,Licorice,Cloud9,Top,20,60%,57,49,83,2.9,62.8%,23.4%,20%,107,97,4.6,9.2
32,32,LirA,Clutch Gaming,Jungle,20,55%,22,34,96,3.5,69.0%,22.7%,20%,-267,-102,0.4,5.4
33,33,Lourlo,Golden Guardians,Top,18,22%,34,29,69,3.6,66.0%,13.2%,6%,-157,-88,-1.2,9.0
34,34,Matt,Golden Guardians,Support,18,22%,12,46,110,2.7,78.2%,21.0%,22%,-13,-92,-3.7,1.6
35,35,Meteos,100 Thieves,Jungle,19,68%,24,30,122,4.9,76.0%,19.4%,63%,83,55,0.2,5.0
36,36,MikeYeung,Team SoloMid,Jungle,20,65%,27,38,132,4.2,72.6%,24.7%,50%,48,-16,0.2,5.0
37,37,Mithy,Team SoloMid,Support,20,65%,13,35,138,4.3,68.9%,22.7%,35%,-32,-101,4.4,2.0
38,38,Olleh,Team Liquid,Support,20,60%,13,37,124,3.7,72.1%,22.3%,25%,-9,5,1.8,1.9
39,39,PapaChau,Echo Fox,Support,3,33%,2,9,22,2.7,77.4%,25.0%,33%,-115,-321,-8.0,1.1
40,40,Pobelter,Team Liquid,Middle,20,60%,56,37,87,3.9,75.3%,22.3%,30%,-2,-44,0.4,10.6
41,41,PowerOfEvil,OpTic Gaming,Middle,18,28%,67,32,58,3.9,81.2%,16.2%,44%,21,-93,-3.8,10.1
42,42,Reignover,Counter Logic Gaming,Jungle,18,39%,18,43,120,3.2,73.4%,20.3%,61%,105,159,1.7,4.9
43,43,Ryu,100 Thieves,Middle,19,68%,43,32,89,4.1,68.8%,20.6%,21%,5,-53,-2.9,9.3
44,44,Shrimp,FlyQuest,Jungle,2,0%,1,10,5,0.6,60.0%,30.3%,0%,-307,-219,-4.5,4.5
45,45,Smoothie,Cloud9,Support,20,60%,12,46,157,3.7,75.8%,22.0%,30%,73,87,0.4,1.3
46,46,Sneaky,Cloud9,ADC,20,60%,52,37,105,4.2,70.4%,17.7%,15%,102,55,2.0,10.2
47,47,Solo,Clutch Gaming,Top,20,55%,28,35,69,2.8,56.7%,23.3%,10%,-187,-190,-5.9,8.9
48,48,Ssumday,100 Thieves,Top,19,68%,37,33,93,3.9,67.7%,21.3%,42%,-148,-26,-1.9,8.7
49,49,Stixxay,Counter Logic Gaming,ADC,18,39%,73,40,66,3.5,73.9%,18.9%,22%,119,19,4.7,10.0
50,50,Stunt,FlyQuest,Support,16,38%,10,45,110,2.7,82.2%,23.2%,13%,53,167,-3.3,1.8
51,51,Svenskeren,Cloud9,Jungle,20,60%,33,53,135,3.2,75.3%,25.4%,40%,153,132,3.1,5.3
52,52,WILDTURTLE,FlyQuest,ADC,18,33%,58,37,64,3.3,78.2%,17.1%,17%,-84,-131,-3.3,10.4
53,53,Xmithie,Team Liquid,Jungle,20,60%,23,35,116,4.0,73.2%,21.1%,55%,-34,-29,0.3,5.8
54,54,zig,OpTic Gaming,Top,12,25%,9,35,37,1.3,43.8%,26.3%,25%,-318,-263,-9.8,6.9
55,55,Zven,Team SoloMid,ADC,20,65%,58,18,101,8.8,72.6%,11.7%,20%,92,44,1.9,10.1