In [3]:
import pandas as pd
import numpy as np
import requests
import json

In [4]:
my_app_secret = "RGAPI-9c2a16f2-ff8c-4e7a-a137-d684d159abce"

## Getting Account Info from the Riot API to match their summoner name

``` API Link: /lol/summoner/v3/summoners/by-name/{summonerName} ```

In [5]:
request = 'https://na1.api.riotgames.com/lol/summoner/v3/summoners/by-name/RiotSchmick?api_key='+my_app_secret

res = requests.get(request)

In [6]:
type(res.json())

dict

In [7]:
summoner_names = pd.read_csv('./lcs_player_2018.csv')['Player'].values

In [8]:
info = []
for name in summoner_names: 
    request = 'https://na1.api.riotgames.com/lol/summoner/v3/summoners/by-name/' + name + '?api_key='+my_app_secret
    info.append(requests.get(request).json())

In [9]:
info = pd.DataFrame.from_dict(info)

## Getting match history of the players recently

```API Link: /lol/match/v3/matchlists/by-account/{accountId}```

In [10]:
account_ids = info['accountId'].values

In [11]:
account_ids[0]

30130

In [12]:
request = 'https://na1.api.riotgames.com/lol/match/v3/matchlists/by-account/' + str(30130) +\
'/?api_key='+my_app_secret + '&season=11'

In [14]:
matches = []
for account in account_ids:
    request = 'https://na1.api.riotgames.com/lol/match/v3/matchlists/by-account/' + str(account) +\
'/?api_key='+my_app_secret + '&season=11' 
    matches.append(requests.get(request).json())

In [15]:
pd.DataFrame.from_dict(matches[0]['matches'])

,champion,gameId,lane,platformId,queue,role,season,timestamp
0,26,2703762918,MID,NA1,420,DUO,11,1516976790328
1,101,2702935541,BOTTOM,NA1,420,DUO_SUPPORT,11,1516891801033
2,101,2701159390,BOTTOM,NA1,420,DUO_SUPPORT,11,1516718571072
3,101,2699779360,BOTTOM,NA1,420,DUO_SUPPORT,11,1516573873526
4,101,2696284908,BOTTOM,NA1,420,DUO_SUPPORT,11,1516224049198

matches[0]['matches'] --> account_ids[0]'s matches

In [16]:
df = pd.DataFrame(columns={'champion', 'gameID', 'lane', 'platformId', 'queue', 'role', 'season', 'timestamp'})

In [17]:
dictionary = []

In [18]:
player_num = []

In [19]:
j = 0 
for match in matches: 
    try: 
        a = match['matches']
        for i in a: 
            dictionary.append(i)
            player_num.append(account_ids[j])
        j+=1
    except:
        j+=1

In [20]:
len(player_num)

2208

In [21]:
len(dictionary)

2208

In [22]:
game_df = pd.DataFrame(dictionary)

In [23]:
game_df['player'] = player_num

In [24]:
game_df

,champion,gameId,lane,platformId,queue,role,season,timestamp,player
0,26,2703762918,MID,NA1,420,DUO,11,1516976790328,30130
1,101,2702935541,BOTTOM,NA1,420,DUO_SUPPORT,11,1516891801033,30130
2,101,2701159390,BOTTOM,NA1,420,DUO_SUPPORT,11,1516718571072,30130
3,101,2699779360,BOTTOM,NA1,420,DUO_SUPPORT,11,1516573873526,30130
4,101,2696284908,BOTTOM,NA1,420,DUO_SUPPORT,11,1516224049198,30130
5,104,2728412837,JUNGLE,NA1,420,NONE,11,1519682617078,239603734
6,107,2728226316,JUNGLE,NA1,430,NONE,11,1519639405904,239603734
7,72,2723957818,JUNGLE,NA1,420,NONE,11,1519201697713,239603734
8,76,2721602084,JUNGLE,NA1,420,NONE,11,1518935956502,239603734
9,99,2744589562,BOTTOM,NA1,420,DUO_SUPPORT,11,1521614672371,469064
10,223,2744601662,BOTTOM,NA1,420,DUO_SUPPORT,11,1521611928603,469064
11,44,2744563237,BOTTOM,NA1,420,DUO_SUPPORT,11,1521608810578,469064
12,122,2744536472,TOP,NA1,420,SOLO,11,1521606764167,469064
13,223,2744509294,BOTTOM,NA1,420,DUO_SUPPORT,11,1521604794091,469064
14,201,2744479070,BOTTOM,NA1,420,DUO_SUPPORT,11,1521602207148,469064
15,223,2744194866,BOTTOM,NA1,420,DUO_SUPPORT,11,1521572493510,469064
16,223,2744190339,BOTTOM,NA1,420,DUO_SUPPORT,11,1521569845978,469064
17,25,2743690325,BOTTOM,NA1,420,DUO_SUPPORT,11,1521487891468,469064
18,223,2743656500,MID,NA1,420,DUO_SUPPORT,11,1521485208527,469064
19,111,2743653722,BOTTOM,NA1,420,DUO_SUPPORT,11,1521483536438,469064
20,201,2743647872,BOTTOM,NA1,420,DUO_SUPPORT,11,1521480570088,469064
21,497,2743584169,BOTTOM,NA1,420,DUO_SUPPORT,11,1521449560191,469064
22,12,2741643723,BOTTOM,NA1,420,DUO_SUPPORT,11,1521252768233,469064
23,412,2741145276,BOTTOM,NA1,420,DUO_SUPPORT,11,1521187829157,469064
24,432,2741150545,BOTTOM,NA1,420,DUO_SUPPORT,11,1521184905385,469064
25,497,2741134945,BOTTOM,NA1,420,DUO_SUPPORT,11,1521182212455,469064
26,12,2741109836,BOTTOM,NA1,420,DUO_SUPPORT,11,1521179976671,469064
27,497,2740622590,NONE,NA1,420,DUO_SUPPORT,11,1521099869242,469064
28,497,2740590444,BOTTOM,NA1,420,DUO_SUPPORT,11,1521093861048,469064
29,50,2739625372,NONE,NA1,430,DUO_SUPPORT,11,1520995926967,469064
...,...,...,...,...,...,...,...,...,...
2178,112,2703833517,MID,NA1,450,NONE,11,1516986709994,225680369
2179,13,2703766109,MID,NA1,450,NONE,11,1516980546513,225680369
2180,127,2703007533,MID,NA1,420,SOLO,11,1516908086584,225680369
2181,107,2702992769,JUNGLE,NA1,420,NONE,11,1516905486565,225680369
2182,53,2702363658,BOTTOM,NA1,430,DUO,11,1516814707410,225680369
2183,6,2702371568,BOTTOM,NA1,430,DUO,11,1516813111211,225680369
2184,81,2702369883,BOTTOM,NA1,430,DUO_CARRY,11,1516811666722,225680369
2185,12,2702178559,MID,NA1,450,NONE,11,1516810327402,225680369
2186,6,2701274988,JUNGLE,NA1,430,NONE,11,1516740269921,225680369
2187,53,2701255222,BOTTOM,NA1,430,DUO,11,1516739765917,225680369
2188,121,2700492523,JUNGLE,NA1,400,NONE,11,1516606568695,225680369
2189,266,2699486996,MID,NA1,450,NONE,11,1516534520323,225680369
2190,68,2699485320,MID,NA1,450,NONE,11,1516532622618,225680369
2191,8,2699474533,MID,NA1,450,NONE,11,1516531176201,225680369
2192,3,2699482186,MID,NA1,450,NONE,11,1516529757960,225680369
2193,131,2698434100,JUNGLE,NA1,430,NONE,11,1516448139069,225680369
2194,122,2698433016,MID,NA1,450,NONE,11,1516446813020,225680369
2195,268,2698421706,MID,NA1,450,NONE,11,1516444822256,225680369
2196,64,2697696490,MID,NA1,450,NONE,11,1516354763285,225680369
2197,115,2697694752,MID,NA1,450,NONE,11,1516353246069,225680369
2198,41,2696737916,MID,NA1,420,SOLO,11,1516262414639,225680369
2199,8,2696735714,MID,NA1,420,NONE,11,1516261325304,225680369
2200,8,2696729877,MID,NA1,420,SOLO,11,1516258861494,225680369
2201,63,2696693998,MID,NA1,420,SOLO,11,1516256609959,225680369
2202,8,2696676601,MID,NA1,420,SOLO,11,1516254592700,225680369
2203,41,2696639190,MID,NA1,420,SOLO,11,1516252520404,225680369
2204,28,2696614880,JUNGLE,NA1,420,NONE,11,1516249381997,225680369
2205,28,2696583352,JUNGLE,NA1,420,NONE,11,1516246970059,225680369
2206,107,2696441352,JUNGLE,NA1,420,NONE,11,1516236456107,225680369
2207,63,2696395395,MID,NA1,420,SOLO,11,1516234766653,225680369

In [25]:
info.head()

   accountId        id      name  profileIconId   revisionDate  summonerLevel
0      30130      3267    Adrian             11  1516977351000             32
1  239603734  88669121  Akaadian           2087  1519685203000             44
2     166227    139388     Altec             18  1502768369000             30
3   32882990  20067790      AnDa           1153  1495783622000             30
4     469064    442232  aphromoo           3151  1521616446000            172

In [26]:
game_df.head()

,champion,gameId,lane,platformId,queue,role,season,timestamp,player
0,26,2703762918,MID,NA1,420,DUO,11,1516976790328,30130
1,101,2702935541,BOTTOM,NA1,420,DUO_SUPPORT,11,1516891801033,30130
2,101,2701159390,BOTTOM,NA1,420,DUO_SUPPORT,11,1516718571072,30130
3,101,2699779360,BOTTOM,NA1,420,DUO_SUPPORT,11,1516573873526,30130
4,101,2696284908,BOTTOM,NA1,420,DUO_SUPPORT,11,1516224049198,30130

In [27]:
print (game_df.shape, info.shape)

(2208, 9) (56, 6)

In [28]:
game_df.rename(columns={'accounID': 'accountId'}, inplace=True)

In [29]:
game_df.head()

,champion,gameId,lane,platformId,queue,role,season,timestamp,player
0,26,2703762918,MID,NA1,420,DUO,11,1516976790328,30130
1,101,2702935541,BOTTOM,NA1,420,DUO_SUPPORT,11,1516891801033,30130
2,101,2701159390,BOTTOM,NA1,420,DUO_SUPPORT,11,1516718571072,30130
3,101,2699779360,BOTTOM,NA1,420,DUO_SUPPORT,11,1516573873526,30130
4,101,2696284908,BOTTOM,NA1,420,DUO_SUPPORT,11,1516224049198,30130

In [32]:
df = game_df.merge(info, how='inner', right_on='accountId', left_on='player')

In [33]:
df.groupby('name').count()

,champion,gameId,lane,platformId,queue,role,season,timestamp,player,accountId,id,profileIconId,revisionDate,summonerLevel
name,,,,,,,,,,,,,,
Adrian,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Akaadian,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Apollo,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Arrow,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Biofrost,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Bjergsen,29,29,29,29,29,29,29,29,29,29,29,29,29,29
Cody Sun,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Contractz,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Damonte,33,33,33,33,33,33,33,33,33,33,33,33,33,33
Dardoch,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Darshan,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Dhokla,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Doublelift,100,100,100,100,100,100,100,100,100,100,100,100,100,100
FENIX,81,81,81,81,81,81,81,81,81,81,81,81,81,81
Febiven,17,17,17,17,17,17,17,17,17,17,17,17,17,17
Flame,79,79,79,79,79,79,79,79,79,79,79,79,79,79
Fly,74,74,74,74,74,74,74,74,74,74,74,74,74,74
Hai,17,17,17,17,17,17,17,17,17,17,17,17,17,17
Hakuho,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Huni,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Impact,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Jensen,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Keane,8,8,8,8,8,8,8,8,8,8,8,8,8,8
Licorice,52,52,52,52,52,52,52,52,52,52,52,52,52,52
Lira,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Lourlo,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Meteos,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Mithy,40,40,40,40,40,40,40,40,40,40,40,40,40,40
POWER OF EVIL,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Pobelter,100,100,100,100,100,100,100,100,100,100,100,100,100,100
Reignover,49,49,49,49,49,49,49,49,49,49,49,49,49,49
aphromoo,100,100,100,100,100,100,100,100,100,100,100,100,100,100
huhi,100,100,100,100,100,100,100,100,100,100,100,100,100,100
mike yeung,6,6,6,6,6,6,6,6,6,6,6,6,6,6

In [34]:
df['role'].value_counts()

SOLO           762
DUO_SUPPORT    572
NONE           404
DUO_CARRY      328
DUO            142
Name: role, dtype: int64

In [35]:
stats = pd.read_csv('./lcs_player_2018.csv')

In [168]:
stats[stats['Pos']=='Jungle']

,Unnamed: 0,Player,Team,Pos,GP,W%,K,D,A,KDA,KP,DTH%,FB%,GD10,XPD10,CS-D10,CSPM
1,1,Akaadian,OpTic Gaming,Jungle,18,28%,21,33,84,3.2,68.2%,16.7%,50%,75,81,0.7,4.9
3,3,AnDa,FlyQuest,Jungle,16,38%,17,39,99,3.0,79.5%,21.2%,25%,-80,-197,-4.6,5.1
10,10,Contractz,Golden Guardians,Jungle,18,22%,27,56,86,2.0,72.4%,25.6%,28%,-211,-195,-3.8,4.9
12,12,Dardoch,Echo Fox,Jungle,19,63%,39,38,139,4.7,73.3%,17.9%,47%,152,107,1.4,5.0
32,32,LirA,Clutch Gaming,Jungle,20,55%,22,34,96,3.5,69.0%,22.7%,20%,-267,-102,0.4,5.4
35,35,Meteos,100 Thieves,Jungle,19,68%,24,30,122,4.9,76.0%,19.4%,63%,83,55,0.2,5.0
36,36,MikeYeung,Team SoloMid,Jungle,20,65%,27,38,132,4.2,72.6%,24.7%,50%,48,-16,0.2,5.0
42,42,Reignover,Counter Logic Gaming,Jungle,18,39%,18,43,120,3.2,73.4%,20.3%,61%,105,159,1.7,4.9
44,44,Shrimp,FlyQuest,Jungle,2,0%,1,10,5,0.6,60.0%,30.3%,0%,-307,-219,-4.5,4.5
51,51,Svenskeren,Cloud9,Jungle,20,60%,33,53,135,3.2,75.3%,25.4%,40%,153,132,3.1,5.3
53,53,Xmithie,Team Liquid,Jungle,20,60%,23,35,116,4.0,73.2%,21.1%,55%,-34,-29,0.3,5.8

## Look at per team

Team Liquid

In [36]:
team_liquid = stats[stats['Team']=='Team Liquid']

In [37]:
team_liquid_players = team_liquid['Player'].values

In [38]:
team_liquid_matches = df[df['name'].isin(team_liquid_players)]

Famous Example: the ADC of Team Liquid, **DoubleLift**

In [39]:
doubleLift = team_liquid_matches[(team_liquid_matches['name']== team_liquid_players[0]) & (team_liquid_matches['lane']=='BOTTOM')]

In [40]:
doubleLift['champion'].value_counts()

18     13
96      9
498     9
51      9
145     5
222     5
81      5
110     4
236     4
22      3
429     3
67      2
44      2
119     1
53      1
201     1
223     1
267     1
Name: champion, dtype: int64

### Get if the game is won or not. So we get the win percentage for each player.

```API Link: /lol/match/v3/matches/{matchId}```

In [41]:
domain = "https://na1.api.riotgames.com"

In [42]:
def getParticipantID(a, summonerName): 
    try:
        participantID = 0 

        particpants = a['participantIdentities']

        for participant in participants:
            player = participant['player']
            if (player['summonerName'] == summonerName):
                participantID = participant['participantId']
    except:
        participant = np.nan
    return participantID

In [52]:
def has_Won(match, participantID):
    try:
        info = match['participants'][participantID-1]
        won = info['stats']['win']
    except:
        won = np.nan
    return won

#### Now that we have basic functions setup, lets loop through all the matches Doublelift has done

In [45]:
doubleLift.head()

,champion,gameId,lane,platformId,queue,role,season,timestamp,player,accountId,id,name,profileIconId,revisionDate,summonerLevel
878,22,2742854136,BOTTOM,NA1,420,DUO_CARRY,11,1521400621699,32971449,32971449,20132258,Doublelift,3270,1521402193000,69
880,81,2741910370,BOTTOM,NA1,420,DUO_CARRY,11,1521261248158,32971449,32971449,20132258,Doublelift,3270,1521402193000,69
881,145,2740513625,BOTTOM,NA1,420,DUO_CARRY,11,1521088298022,32971449,32971449,20132258,Doublelift,3270,1521402193000,69
882,145,2740504299,BOTTOM,NA1,420,DUO_CARRY,11,1521085913483,32971449,32971449,20132258,Doublelift,3270,1521402193000,69
883,145,2740471304,BOTTOM,NA1,420,DUO_CARRY,11,1521082752299,32971449,32971449,20132258,Doublelift,3270,1521402193000,69

In [305]:
match_request

'https://na1.api.riotgames.com/lol/match/v3/matches/2740513625?api_key=RGAPI-9c2a16f2-ff8c-4e7a-a137-d684d159abce'

In [304]:
match_request = domain + '/lol/match/v3/matches/' + str(2740513625) +"?api_key=" + my_app_secret
match11 = requests.get(match_request).json()
getParticipantID(match11, "Doublelift")

{'platformId': 'NA1', 'accountId': 206849498, 'summonerName': 'EloDaddy Felix', 'summonerId': 44078775, 'currentPlatformId': 'NA1', 'currentAccountId': 206849498, 'matchHistoryUri': '/v1/stats/player_history/NA1/206849498', 'profileIcon': 3186}
{'platformId': 'NA1', 'accountId': 231497099, 'summonerName': 'egg', 'summonerId': 72581146, 'currentPlatformId': 'NA1', 'currentAccountId': 231497099, 'matchHistoryUri': '/v1/stats/player_history/NA1/231497099', 'profileIcon': 3270}
{'platformId': 'NA1', 'accountId': 208112741, 'summonerName': 'YÃ¡ma', 'summonerId': 45300308, 'currentPlatformId': 'NA1', 'currentAccountId': 208112741, 'matchHistoryUri': '/v1/stats/player_history/NA1/208112741', 'profileIcon': 747}
{'platformId': 'NA1', 'accountId': 233033899, 'summonerName': 'UKP Ã‘eÃ¸Ã¸', 'summonerId': 75900909, 'currentPlatformId': 'NA1', 'currentAccountId': 233033899, 'matchHistoryUri': '/v1/stats/player_history/NA1/233033899', 'profileIcon': 3160}
{'platformId': 'NA', 'accountId': 32578691, 'summonerName': 'blaberfish2', 'summonerId': 19839806, 'currentPlatformId': 'NA1', 'currentAccountId': 32578691, 'matchHistoryUri': '/v1/stats/player_history/NA/32578691', 'profileIcon': 2074}
{'platformId': 'NA1', 'accountId': 203021036, 'summonerName': 'rovex', 'summonerId': 39957695, 'currentPlatformId': 'NA1', 'currentAccountId': 203021036, 'matchHistoryUri': '/v1/stats/player_history/NA1/203021036', 'profileIcon': 3155}
{'platformId': 'NA', 'accountId': 32971449, 'summonerName': 'Doublelift', 'summonerId': 20132258, 'currentPlatformId': 'NA1', 'currentAccountId': 32971449, 'matchHistoryUri': '/v1/stats/player_history/NA/32971449', 'profileIcon': 3270}
{'platformId': 'NA1', 'accountId': 227437622, 'summonerName': 'Liquid Impact', 'summonerId': 65389099, 'currentPlatformId': 'NA1', 'currentAccountId': 227437622, 'matchHistoryUri': '/v1/stats/player_history/NA1/227437622', 'profileIcon': 2088}
{'platformId': 'NA', 'accountId': 33955468, 'summonerName': 'C9 Smoothie', 'summonerId': 20823651, 'currentPlatformId': 'NA1', 'currentAccountId': 33955468, 'matchHistoryUri': '/v1/stats/player_history/NA/33955468', 'profileIcon': 2074}
{'platformId': 'LA2', 'accountId': 200558206, 'summonerName': 'Oddiee', 'summonerId': 71229345, 'currentPlatformId': 'NA1', 'currentAccountId': 230690174, 'matchHistoryUri': '/v1/stats/player_history/LA2/200558206', 'profileIcon': 2088}

7

In [46]:
DL_matches = []

In [53]:
won_lost = []
for match_num in doubleLift['gameId']:
#     match_request = domain + '/lol/match/v3/matches/' + str(match_num) +"?api_key=" + my_app_secret
    
    a = domain + '/lol/match/v3/matches/' + str(match_num) +"?api_key=" + my_app_secret
    match = requests.get(a).json()
    DL_matches.append(match)
    participantID = getParticipantID(a=match, summonerName='Doublelift')
    won_lost.append(has_Won(match, participantID))

In [56]:
len(doubleLift['gameId'])

78

In [58]:
doubleLift['Won'] = won_lost

/Users/sherlykim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [59]:
doubleLift

,champion,gameId,lane,platformId,queue,role,season,timestamp,player,accountId,id,name,profileIconId,revisionDate,summonerLevel,Won
878,22,2742854136,BOTTOM,NA1,420,DUO_CARRY,11,1521400621699,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
880,81,2741910370,BOTTOM,NA1,420,DUO_CARRY,11,1521261248158,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
881,145,2740513625,BOTTOM,NA1,420,DUO_CARRY,11,1521088298022,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
882,145,2740504299,BOTTOM,NA1,420,DUO_CARRY,11,1521085913483,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
883,145,2740471304,BOTTOM,NA1,420,DUO_CARRY,11,1521082752299,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
884,145,2740441480,BOTTOM,NA1,420,DUO_CARRY,11,1521080412913,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
885,498,2740095399,BOTTOM,NA1,420,DUO_CARRY,11,1521060922400,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
886,51,2737729765,BOTTOM,NA1,420,DUO_CARRY,11,1520757084961,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
887,22,2736577247,BOTTOM,NA1,420,DUO_CARRY,11,1520653360181,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
888,145,2736537652,BOTTOM,NA1,420,DUO_CARRY,11,1520650989393,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
890,51,2733555605,BOTTOM,NA1,420,DUO_CARRY,11,1520315238091,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
891,96,2733545750,BOTTOM,NA1,420,DUO_CARRY,11,1520312489944,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
892,81,2733507353,BOTTOM,NA1,420,DUO_CARRY,11,1520310101523,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
893,222,2733477795,BOTTOM,NA1,420,DUO_CARRY,11,1520307755004,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
894,236,2733448405,BOTTOM,NA1,420,DUO_CARRY,11,1520305492077,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
895,110,2733409422,BOTTOM,NA1,420,DUO_CARRY,11,1520303190655,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
896,222,2733402171,BOTTOM,NA1,420,DUO_CARRY,11,1520301415640,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
897,498,2733372619,BOTTOM,NA1,420,DUO_CARRY,11,1520298899669,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
899,223,2733113822,BOTTOM,NA1,420,DUO_SUPPORT,11,1520239416583,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
900,267,2733110051,BOTTOM,NA1,420,DUO_SUPPORT,11,1520236833497,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
901,96,2733016098,BOTTOM,NA1,420,SOLO,11,1520227337815,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
903,110,2732991573,BOTTOM,NA1,420,DUO_CARRY,11,1520223393510,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
904,51,2732972143,BOTTOM,NA1,420,DUO_CARRY,11,1520221224737,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
907,81,2730631876,BOTTOM,NA1,420,DUO_CARRY,11,1519974443390,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
909,81,2730569318,BOTTOM,NA1,420,DUO_CARRY,11,1519969809064,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
910,81,2730581881,BOTTOM,NA1,420,DUO_CARRY,11,1519967800978,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
911,51,2730545640,BOTTOM,NA1,420,DUO_CARRY,11,1519966008975,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
912,498,2730517079,BOTTOM,NA1,420,DUO_CARRY,11,1519963794335,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
914,51,2730080970,BOTTOM,NA1,420,DUO_CARRY,11,1519885255672,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
915,498,2730074440,BOTTOM,NA1,420,DUO_CARRY,11,1519883292114,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,18,2725621617,BOTTOM,NA1,420,DUO_CARRY,11,1519366191356,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
938,18,2718503555,BOTTOM,NA1,420,DUO_CARRY,11,1518587627886,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
939,110,2718457644,BOTTOM,NA1,420,DUO_CARRY,11,1518585586578,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
940,53,2718175645,BOTTOM,NA1,420,DUO_SUPPORT,11,1518562472794,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
941,429,2716245627,BOTTOM,NA1,420,DUO_CARRY,11,1518333350011,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
942,429,2716197071,BOTTOM,NA1,420,DUO_CARRY,11,1518331027285,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
943,18,2716166089,BOTTOM,NA1,420,DUO_CARRY,11,1518328504898,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
945,22,2715129418,BOTTOM,NA1,420,DUO_CARRY,11,1518244271855,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
946,236,2715076805,BOTTOM,NA1,420,DUO_CARRY,11,1518241342189,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
947,222,2715052587,BOTTOM,NA1,420,DUO_CARRY,11,1518238563948,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
948,44,2714416620,BOTTOM,NA1,420,DUO_SUPPORT,11,1518155337343,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
949,96,2713601361,BOTTOM,NA1,420,DUO_CARRY,11,1518074625042,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
950,96,2713582942,BOTTOM,NA1,420,DUO_CARRY,11,1518071380730,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
951,236,2713538215,BOTTOM,NA1,420,DUO_CARRY,11,1518069571902,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
952,18,2713507242,BOTTOM,NA1,420,DUO_CARRY,11,1518066449267,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
953,18,2713511056,BOTTOM,NA1,420,DUO_CARRY,11,1518064931330,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
954,96,2713470476,BOTTOM,NA1,420,DUO_CARRY,11,1518062351220,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
956,201,2712639458,BOTTOM,NA1,420,DUO_SUPPORT,11,1517979908476,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
957,96,2710651908,BOTTOM,NA1,420,DUO_CARRY,11,1517733291733,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
958,18,2710645083,BOTTOM,NA1,420,DUO_CARRY,11,1517730892434,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
959,18,2710621242,BOTTOM,NA1,420,DUO_CARRY,11,1517729362242,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
960,18,2710612476,BOTTOM,NA1,420,DUO_CARRY,11,1517727042510,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
964,18,2709505370,BOTTOM,NA1,420,DUO_CARRY,11,1517637231529,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,True
965,67,2709492741,BOTTOM,NA1,420,DUO_CARRY,11,1517634465047,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
967,96,2709412418,BOTTOM,NA1,420,DUO_CARRY,11,1517630116440,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
968,96,2709391716,BOTTOM,NA1,420,DUO_CARRY,11,1517627901313,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
969,67,2708888689,BOTTOM,NA1,420,DUO_CARRY,11,1517552221423,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
970,18,2708838308,BOTTOM,NA1,420,DUO_CARRY,11,1517546548483,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
971,18,2708032733,BOTTOM,NA1,420,DUO_CARRY,11,1517464872929,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False
977,119,2707368650,BOTTOM,NA1,420,DUO_CARRY,11,1517369779038,32971449,32971449,20132258,Doublelift,3270,1521402193000,69,False